WebContent/service/import_callback.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
    xmlns="http://www.enterprise-architecture.com/essential/importutility/service/importcallback"
    targetNamespace="http://www.enterprise-architecture.com/essential/importutility/service/importcallback"
    elementFormDefault="qualified">
    
    <!-- 
        * Copyright (c)2014 Enterprise Architecture Solutions ltd.
        * This file is part of Essential Architecture Manager, 
        * the Essential Architecture Meta Model and The Essential Project.
        *
        * Essential Architecture Manager is free software: you can redistribute it and/or modify
        * it under the terms of the GNU General Public License as published by
        * the Free Software Foundation, either version 3 of the License, or
        * (at your option) any later version.
        *
        * Essential Architecture Manager is distributed in the hope that it will be useful,
        * but WITHOUT ANY WARRANTY; without even the implied warranty of
        * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
        * GNU General Public License for more details.
        *
        * You should have received a copy of the GNU General Public License
        * along with Essential Architecture Manager.  If not, see <http://www.gnu.org/licenses/>.
        * 
        Schema for the Essential Import Service callback messages
    -->
    <!-- 10.04.2014    JWC    1st coding-->
    
    <xs:element name="import_callback">
        <xs:annotation><xs:documentation>Root tag to define the callback message</xs:documentation></xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="import_job" type="import_jobType" minOccurs="1" maxOccurs="1"></xs:element>
                <xs:element name="publish" type="publishType" minOccurs="1" maxOccurs="1"></xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:complexType name="import_jobType">
        <xs:annotation><xs:documentation>Defines the results of an import job</xs:documentation></xs:annotation>                    
        <xs:sequence>
            <xs:element name="status" type="statusType" minOccurs="1" maxOccurs="1"/>
            <xs:element name="timestamp" type="xs:dateTime" minOccurs="1" maxOccurs="1"/>
            <xs:element name="import_activity" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="target_environment" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="source_content" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="batch_id" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="publishType">
        <xs:annotation><xs:documentation>Defines the results of a publish task</xs:documentation></xs:annotation>                            
        <xs:sequence>
            <xs:element name="requested" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="status" type="statusType" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="statusType">
        <xs:annotation><xs:documentation>A status object containing a short value and a detailed message</xs:documentation></xs:annotation>                    
        <xs:sequence>
            <xs:element name="value" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="message" type="xs:string" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    
</xs:schema>
